In [1]:
# SUBSETS IN R

In [2]:
data=read.csv(file.choose(), header = T)

In [3]:
data

   Date      Open    High    Low     Close   Shares.Traded Turnover..Rs..Cr.
1  01-Sep-15 8052.60 8084.10 7898.10 7938.95 278730291     11868.86
2  02-Sep-15 8009.40 8009.90 7854.45 7869.40 307621348     13028.24
3  03-Sep-15 7927.65 7999.35 7910.50 7973.40 238737332      9969.53
4  04-Sep-15 7956.30 7956.30 7773.15 7804.70 275483155     11111.48
5  07-Sep-15 7834.90 7853.10 7681.20 7692.10 205735445      7998.05
6  08-Sep-15 7719.95 7843.85 7657.60 7806.95 258081328     10296.15
7  09-Sep-15 7925.30 7972.20 7889.05 7943.40 312940758     11454.77
8  10-Sep-15 7852.15 7954.30 7798.85 7924.10 255775295      9821.22
9  11-Sep-15 7972.50 8000.20 7896.95 7925.30 204461387      8189.41
10 14-Sep-15 7952.45 8022.30 7907.20 8016.25 185083198      7307.48
11 15-Sep-15 8014.15 8027.25 7940.75 7968.05 200771453      8448.19
12 16-Sep-15 8026.45 8036.05 7979.80 8017.45 204384387      9224.89
13 18-Sep-15 8089.00 8173.05 8079.65 8098.30 352489158     15232.27
14 21-Sep-15 8030.40 8108.15 8028.05 8096.00 194795739      7840.24
15 22-Sep-15 8135.80 8141.60 7914.20 7937.55 262790456     11183.80
16 23-Sep-15 7859.05 7998.95 7843.30 7963.55 242047712     10170.01
17 24-Sep-15 7959.35 8010.10 7924.75 7982.95 313110920     13523.85
18 28-Sep-15 8009.55 8009.55 7904.25 7910.85 198823974      9116.29
19 29-Sep-15 7839.25 8028.20 7802.75 7953.25 341144240     14350.41
20 30-Sep-15 8032.75 8076.85 7987.55 8068.00 315893890     13370.79
21 01-Oct-15 8115.10 8128.00 8059.15 8079.25 252296836     11554.12

In [4]:
# Create a Subset Where the turnover is greater than 10000

In [5]:
Subset_1 = subset(data, data$Turnover..Rs..Cr. > 10000)

In [6]:
Subset_1

   Date      Open    High    Low     Close   Shares.Traded Turnover..Rs..Cr.
1  01-Sep-15 8052.60 8084.10 7898.10 7938.95 278730291     11868.86
2  02-Sep-15 8009.40 8009.90 7854.45 7869.40 307621348     13028.24
4  04-Sep-15 7956.30 7956.30 7773.15 7804.70 275483155     11111.48
6  08-Sep-15 7719.95 7843.85 7657.60 7806.95 258081328     10296.15
7  09-Sep-15 7925.30 7972.20 7889.05 7943.40 312940758     11454.77
13 18-Sep-15 8089.00 8173.05 8079.65 8098.30 352489158     15232.27
15 22-Sep-15 8135.80 8141.60 7914.20 7937.55 262790456     11183.80
16 23-Sep-15 7859.05 7998.95 7843.30 7963.55 242047712     10170.01
17 24-Sep-15 7959.35 8010.10 7924.75 7982.95 313110920     13523.85
19 29-Sep-15 7839.25 8028.20 7802.75 7953.25 341144240     14350.41
20 30-Sep-15 8032.75 8076.85 7987.55 8068.00 315893890     13370.79
21 01-Oct-15 8115.10 8128.00 8059.15 8079.25 252296836     11554.12

In [7]:
Subset_2 = subset(Subset_1, Subset_1$Shares.Traded > 300000000)

In [8]:
Subset_2

   Date      Open    High    Low     Close   Shares.Traded Turnover..Rs..Cr.
2  02-Sep-15 8009.40 8009.90 7854.45 7869.40 307621348     13028.24
7  09-Sep-15 7925.30 7972.20 7889.05 7943.40 312940758     11454.77
13 18-Sep-15 8089.00 8173.05 8079.65 8098.30 352489158     15232.27
17 24-Sep-15 7959.35 8010.10 7924.75 7982.95 313110920     13523.85
19 29-Sep-15 7839.25 8028.20 7802.75 7953.25 341144240     14350.41
20 30-Sep-15 8032.75 8076.85 7987.55 8068.00 315893890     13370.79

In [9]:
# SUBSET OPERATIONS

In [10]:
Max_High = max(Subset_2$High) # maximum in high column

In [11]:
Max_High

[1] 8173.05

In [12]:
Min_High = min(Subset_2$High) # minimum in high column

In [13]:
Min_High

[1] 7972.2

In [14]:
Mean_High = mean(Subset_2$High) # mean of values in high column

In [15]:
Mean_High

[1] 8045.05

In [16]:
# Multiple Arguments in Subsets.

In [17]:
Subset_3 = subset(Subset_1, Subset_1$Shares.Traded > 300000000 & data$Turnover..Rs..Cr. > 10000)

Warning message in Subset_1$Shares.Traded > 3e+08 & data$Turnover..Rs..Cr. > 10000:
"longer object length is not a multiple of shorter object length"

In [18]:
Subset_3

     Date      Open   High    Low     Close  Shares.Traded Turnover..Rs..Cr.
2    02-Sep-15 8009.4 8009.90 7854.45 7869.4 307621348     13028.24
13   18-Sep-15 8089.0 8173.05 8079.65 8098.3 352489158     15232.27
NA   NA            NA      NA      NA     NA        NA           NA
NA.1 NA            NA      NA      NA     NA        NA           NA

In [19]:
# Subset using keyword or value

In [20]:
Subset_4 = subset(data, data$Low == 8079.65)

In [21]:
Subset_4

   Date      Open High    Low     Close  Shares.Traded Turnover..Rs..Cr.
13 18-Sep-15 8089 8173.05 8079.65 8098.3 352489158     15232.27

In [22]:
# Create a subset by selecting a number of Rows

In [23]:
subset_5 = subset(data[c(5:10),])

In [24]:
subset_5

   Date      Open    High    Low     Close   Shares.Traded Turnover..Rs..Cr.
5  07-Sep-15 7834.90 7853.10 7681.20 7692.10 205735445      7998.05
6  08-Sep-15 7719.95 7843.85 7657.60 7806.95 258081328     10296.15
7  09-Sep-15 7925.30 7972.20 7889.05 7943.40 312940758     11454.77
8  10-Sep-15 7852.15 7954.30 7798.85 7924.10 255775295      9821.22
9  11-Sep-15 7972.50 8000.20 7896.95 7925.30 204461387      8189.41
10 14-Sep-15 7952.45 8022.30 7907.20 8016.25 185083198      7307.48

In [25]:
# Create a subset by deleting a number of rows

In [27]:
subset_6 = subset(data[-c(5:10),])

In [28]:
subset_6

   Date      Open    High    Low     Close   Shares.Traded Turnover..Rs..Cr.
1  01-Sep-15 8052.60 8084.10 7898.10 7938.95 278730291     11868.86
2  02-Sep-15 8009.40 8009.90 7854.45 7869.40 307621348     13028.24
3  03-Sep-15 7927.65 7999.35 7910.50 7973.40 238737332      9969.53
4  04-Sep-15 7956.30 7956.30 7773.15 7804.70 275483155     11111.48
11 15-Sep-15 8014.15 8027.25 7940.75 7968.05 200771453      8448.19
12 16-Sep-15 8026.45 8036.05 7979.80 8017.45 204384387      9224.89
13 18-Sep-15 8089.00 8173.05 8079.65 8098.30 352489158     15232.27
14 21-Sep-15 8030.40 8108.15 8028.05 8096.00 194795739      7840.24
15 22-Sep-15 8135.80 8141.60 7914.20 7937.55 262790456     11183.80
16 23-Sep-15 7859.05 7998.95 7843.30 7963.55 242047712     10170.01
17 24-Sep-15 7959.35 8010.10 7924.75 7982.95 313110920     13523.85
18 28-Sep-15 8009.55 8009.55 7904.25 7910.85 198823974      9116.29
19 29-Sep-15 7839.25 8028.20 7802.75 7953.25 341144240     14350.41
20 30-Sep-15 8032.75 8076.85 7987.55 8068.00 315893890     13370.79
21 01-Oct-15 8115.10 8128.00 8059.15 8079.25 252296836     11554.12

In [29]:
# Another Method

In [30]:
subset_6 = subset(data[-(5:10),])

In [31]:
subset_6

   Date      Open    High    Low     Close   Shares.Traded Turnover..Rs..Cr.
1  01-Sep-15 8052.60 8084.10 7898.10 7938.95 278730291     11868.86
2  02-Sep-15 8009.40 8009.90 7854.45 7869.40 307621348     13028.24
3  03-Sep-15 7927.65 7999.35 7910.50 7973.40 238737332      9969.53
4  04-Sep-15 7956.30 7956.30 7773.15 7804.70 275483155     11111.48
11 15-Sep-15 8014.15 8027.25 7940.75 7968.05 200771453      8448.19
12 16-Sep-15 8026.45 8036.05 7979.80 8017.45 204384387      9224.89
13 18-Sep-15 8089.00 8173.05 8079.65 8098.30 352489158     15232.27
14 21-Sep-15 8030.40 8108.15 8028.05 8096.00 194795739      7840.24
15 22-Sep-15 8135.80 8141.60 7914.20 7937.55 262790456     11183.80
16 23-Sep-15 7859.05 7998.95 7843.30 7963.55 242047712     10170.01
17 24-Sep-15 7959.35 8010.10 7924.75 7982.95 313110920     13523.85
18 28-Sep-15 8009.55 8009.55 7904.25 7910.85 198823974      9116.29
19 29-Sep-15 7839.25 8028.20 7802.75 7953.25 341144240     14350.41
20 30-Sep-15 8032.75 8076.85 7987.55 8068.00 315893890     13370.79
21 01-Oct-15 8115.10 8128.00 8059.15 8079.25 252296836     11554.12